<div>
	<label>{{data.title_label}}</label><br />
    {{data.title_input}}
</div>

<div>
	<label>{{data.summary_label}}</label><br />
    {{data.summary_input}}
</div>

<div>
	<label>{{data.description_label}}</label><br />
    {{data.description_input}}
</div>