<style>
.select2-container .select2-selection--single{
     height: 52px !important;
     padding-top: 6px !important;
}

.highlight {
  background: #e7f2fc;
}

.general_info{
	width: 92% !important; 
	padding-left: 2% !important;
	padding-bottom: 3%;
}

.field_set{
	border-bottom: 1px solid #cacaca;
	padding-bottom: 3%;
}
.ui-date{
	width: 50% !important; 
	margin-bottom: 22px;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "label start end"
    ". . ."
    ". . .";
}

.label { grid-area: label;

 }

.start {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "label-start label-start label-start"
    "datetime-pick datetime-pick datetime-pick"
    "datetime-pick datetime-pick datetime-pick";
  grid-area: start;
}

.label-start { grid-area: label-start; padding-left: 6px;}

.datetime-pick { grid-area: datetime-pick; 
padding: 6px;
}

.end {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "label-end label-end label-end"
    "datetime-pick-end datetime-pick-end datetime-pick-end"
    "datetime-pick-end datetime-pick-end datetime-pick-end";
  grid-area: end;
}

.label-end { grid-area: label-end; padding-left: 6px;}

.datetime-pick-end { grid-area: datetime-pick-end;
padding: 6px;
 }

.label-process, .label-start, .label-end{
	font-weight: bold;
}
</style>
<div class="container">
  <div class="label-process">
	{{data.process_label}}
  </div>
  <div class="start">
    <div class="label-start">
		{{data.start_date_label}}
	</div>
    <div class="datetime-pick">
		{{data.start_date_input}}
	</div>
  </div>
  <div class="end">
    <div class="label-end">
		{{data.end_date_label}}
	</div>
    <div class="datetime-pick-end">
		{{data.end_date_input}}
	</div>
  </div>
</div>


<div class="field_set">
	<label>{{data.project_draft_label}}</label><br />
	{{data.project_draft_input}}
</div>

	<div class="field_set">
	<div class="highlight ">
			<div class="general_info">
			<br>
				<label>{{data.title_label}}</label><br />
				{{data.title_input}}
			</div>

			<div class="general_info">
				<label>{{data.summary_label}}</label><br />
				{{data.summary_input}}
			</div>

			<div class="general_info">
				<label>{{data.description_label}}</label><br />
				{{data.description_input}}
			</div>

	</div>
	</div>


<div class="field_set">
	<label>{{data.sdg_label}}</label><br />
	{{data.sdg_input}}
</div>


<div class="field_set">
	<label>{{data.tags_label}}</label><br />
	{{data.tags_input}}
</div>


<div class="field_set">
	<label>{{data.additional_documentation_label}}</label><br />
	{{data.additional_documentation_input}}
</div>


<div class="field_set">
	<label>{{data.banner_label}}</label><br />
	{{data.banner_input}}
</div>



<div class="field_set">
	<div>
		<label>{{data.access_label}}</label><br />
		{{data.access_input}}
	</div>
	<div>
		<label>{{data.status_label}}</label><br />
		{{data.status_input}}
	</div>
</div>

{{data.hidden_container_input}}

{{data.hidden_guid_input}}

{{data.footer}}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
