<div id="legislation_process_150" class="legislation clear">
    <div class="column row legislation-text">
      <div class="small-12 medium-8 column">
        <div class="legislation-text"> 
        <div class="context-menu">
              <div>
                {{data.menu}}
              </div>
        </div>
          <h3>
            <a href="{{data.entity.url}}" data-jzz-gui-player="true">
            {{data.entity.title}}
            </a>
        </h3>
        </div>
      </div>

    

      <div class="small-12 medium-11 column end">
        <p>
        {% if data.banner_image == null %}
            <img src="{{data.site_url}}mod/legislation/graphics/placeholder.png" alt="Banner {{data.entity.title}}">
        {% else %}
            <img src="{{data.banner_image}}" alt="Banner {{data.entity.title}}">
        {% endif %}
        </p>

      </div>
    </div>

      <div class="column row">
        <div class="small-12 column legislation-calendar-info">
          <p>
          {{data.excerpt}}
          </p>
        </div>
        <br>
         <div class="small-12 medium-4 column">
            <a class="button hollow big expanded" title="Aportar a este proceso" href="{{data.entity.url}}#comments" data-jzz-gui-player="true">
                  <i class="fa fa-comments" aria-hidden="true"></i>&nbsp; Read the latest comments
            </a>      
        </div>
      </div>

      
   

      <div class="column row small-collapse medium-uncollapse legislation-calendar">
          <div class="small-6 medium-12 column">
            <h4>Participation phase dates</h4>
            <p>{{data.start_date|date('d-m-Y')}} | {{data.end_date|date('d-m-Y')}}</p>
          </div>
          <br>
          <div class="legislation-tags">
            {% for t in data.tags %}
                <a href="{{data.site_url}}search?q={{t}}&search_type=all" class="legislation-tags-link">{{t}}</a>
            {% endfor %}
        </div>
          <br>
      </div>

        
  </div>